body {
    text-align:center;
    color:#d8e3e3;
    background-color:black;
    font-family: 'Courier';
    font-size: larger;
}
p2 {
    color:red
}
chorus {
    font-weight:bolder;
    font-style: italic;
}
soft { 
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
img {
    width: 1000px;
}