html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;  
}
body {
    background-color:rgb(238, 171, 109);
    color:rgb(44, 37, 30);
    margin: 8%;
}
a {
    font-size: 15pt;
}

h1, h2 {
    text-indent: -1rem;
}