html {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;  
    font-weight: lighter;

}
body {
    background-color:rgb(247, 243, 236);
    color:rgb(100, 86, 72);
    margin: 10%;
    font-size: 15pt;
}

h1, h2 {
    text-indent: -2rem;
    line-height: .8;
}

.recipe {
    border-bottom: 1px solid black;
}

.other {
    border-bottom: 1px solid black;
}
img {
    width: 50%;
}

.leaf {
    width:5%;
}
